ErrorCode

```kotlin
package com.apache.cordova.kotlin

import java.lang.UnsupportedOperationException

/**
 * HTTP Status Codes
 * https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml
 *
 * 1xx: Informational - Request received, continuing process
 * 2xx: Success - The action was successfully received, understood, and accepted
 * 3xx: Redirection - Further action must be taken in order to complete the request
 * 4xx: Client Error - The request contains bad syntax or cannot be fulfilled
 * 5xx: Server Error - The server failed to fulfill an apparently @JvmField valid request


 * Available Formats

 * @JvmField value            Description                             Reference
 * 100   Continue                        [RFC7231, Section 6.2.1]
 * 101   Switching Protocols             [RFC7231, Section 6.2.2]
 * 102   Processing                      [RFC2518]
 * 103   Early Hints                     [RFC8297]
 * 104-199 Unassigned
 * 200   OK                              [RFC7231, Section 6.3.1]
 * 201   Created                         [RFC7231, Section 6.3.2]
 * 202   Accepted                        [RFC7231, Section 6.3.3]
 * 203   Non-Authoritative Information   [RFC7231, Section 6.3.4]
 * 204   No Content                      [RFC7231, Section 6.3.5]
 * 205   Reset Content                   [RFC7231, Section 6.3.6]
 * 206   Partial Content                 [RFC7233, Section 4.1]
 * 207   Multi-Status                    [RFC4918]
 * 208   Already Reported                [RFC5842]
 * 209-225 Unassigned
 * 226   IM Used                         [RFC3229]
 * 227-299 Unassigned
 * 300   Multiple Choices                [RFC7231, Section 6.4.1]
 * 301   Moved Permanently               [RFC7231, Section 6.4.2]
 * 302   Found                           [RFC7231, Section 6.4.3]
 * 303   See Other                       [RFC7231, Section 6.4.4]
 * 304   Not Modified                    [RFC7232, Section 4.1]
 * 305   Use Proxy                       [RFC7231, Section 6.4.5]
 * 306   (Unused)                        [RFC7231, Section 6.4.6]
 * 307   Temporary Redirect              [RFC7231, Section 6.4.7]
 * 308   Permanent Redirect              [RFC7538]
 * 309-399 Unassigned
 * 400   Bad Request                     [RFC7231, Section 6.5.1]
 * 401   Unauthorized                    [RFC7235, Section 3.1]
 * 402   Payment Required                [RFC7231, Section 6.5.2]
 * 403   Forbidden                       [RFC7231, Section 6.5.3]
 * 404   Not Found                       [RFC7231, Section 6.5.4]
 * 405   Method Not Allowed              [RFC7231, Section 6.5.5]
 * 406   Not Acceptable                  [RFC7231, Section 6.5.6]
 * 407   Proxy Authentication Required   [RFC7235, Section 3.2]
 * 408   Request Timeout                 [RFC7231, Section 6.5.7]
 * 409   Conflict                        [RFC7231, Section 6.5.8]
 * 410   Gone                            [RFC7231, Section 6.5.9]
 * 411   Length Required                 [RFC7231, Section 6.5.10]
 * 412   Precondition Failed             [RFC7232, Section 4.2][RFC8144, Section 3.2]
 * 413   Payload Too Large               [RFC7231, Section 6.5.11]
 * 414   URI Too Long                    [RFC7231, Section 6.5.12]
 * 415   Unsupported Media Type          [RFC7231, Section 6.5.13][RFC7694, Section 3]
 * 416   Range Not Satisfiable           [RFC7233, Section 4.4]
 * 417   Expectation Failed              [RFC7231, Section 6.5.14]
 * 418-420 Unassigned
 * 421   Misdirected Request             [RFC7540, Section 9.1.2]
 * 422   Unprocessable Entity            [RFC4918]
 * 423   Locked                          [RFC4918]
 * 424   Failed Dependency               [RFC4918]
 * 425   Unassigned
 * 426   Upgrade Required                [RFC7231, Section 6.5.15]
 * 427   Unassigned
 * 428   Precondition Required           [RFC6585]
 * 429   Too Many Requests               [RFC6585]
 * 430   Unassigned
 * 431   Request Header Fields Too Large [RFC6585]
 * 432-450 Unassigned
 * 451   Unavailable For Legal Reasons   [RFC7725]
 * 452-499 Unassigned
 * 500   Internal Server Error           [RFC7231, Section 6.6.1]
 * 501   Not Implemented                 [RFC7231, Section 6.6.2]
 * 502   Bad Gateway                     [RFC7231, Section 6.6.3]
 * 503   Service Unavailable             [RFC7231, Section 6.6.4]
 * 504   Gateway Timeout                 [RFC7231, Section 6.6.5]
 * 505   HTTP Version Not Supported      [RFC7231, Section 6.6.6]
 * 506   Variant Also Negotiates         [RFC2295]
 * 507   Insufficient Storage            [RFC4918]
 * 508   Loop Detected                   [RFC5842]
 * 509   Unassigned
 * 510   Not Extended                    [RFC2774]
 * 511   Network Authentication Required [RFC6585]
 * 512-599 Unassigned
 * */
class StatusCode {
    companion object {
        @JvmField
        val Continue = 100
        @JvmField
        val Switching_Protocols = 101
        @JvmField
        val Processing = 102
        @JvmField
        val Early_Hints = 103
        @JvmField
        val OK = 200
        @JvmField
        val Created = 201
        @JvmField
        val Accepted = 202
        @JvmField
        val Non_Authoritative_Information = 203
        @JvmField
        val No_Content = 204
        @JvmField
        val Reset_Content = 205
        @JvmField
        val Partial_Content = 206
        @JvmField
        val Multi_Status = 207
        @JvmField
        val Already_Reported = 208
        @JvmField
        val IM_Used = 226

        @JvmField
        val Multiple_Choices = 300
        @JvmField
        val Moved_Permanently = 301
        @JvmField
        val Found = 302
        @JvmField
        val See_Other = 303
        @JvmField
        val Not_Modified = 304
        @JvmField
        val Use_Proxy = 305
        @JvmField
        val Unused = 306
        @JvmField
        val Temporary_Redirect = 307
        @JvmField
        val Permanent_Redirect = 308

        @JvmField
        val Bad_Request = 400
        @JvmField
        val Unauthorized = 401
        @JvmField
        val Payment_Required = 402
        @JvmField
        val Forbidden = 403
        @JvmField
        val Not_Found = 404
        @JvmField
        val Method_Not_Allowed = 405
        @JvmField
        val Not_Acceptable = 406
        @JvmField
        val Proxy_Authentication_Required = 407
        @JvmField
        val Request_Timeout = 408
        @JvmField
        val Conflict = 409
        @JvmField
        val Gone = 410
        @JvmField
        val Length_Required = 411
        @JvmField
        val Precondition_Failed = 412
        @JvmField
        val Payload_Too_Large = 413
        @JvmField
        val URI_Too_Long = 414
        @JvmField
        val Unsupported_Media_Type = 415
        @JvmField
        val Range_Not_Satisfiable = 416
        @JvmField
        val Expectation_Failed = 417

        @JvmField
        val Misdirected_Request = 421
        @JvmField
        val Unprocessable_Entity = 422
        @JvmField
        val Locked = 423
        @JvmField
        val Failed_Dependency = 424
        @JvmField
        val Unassigned_425 = 425
        @JvmField
        val Upgrade_Required = 426
        @JvmField
        val Unassigned_427 = 427
        @JvmField
        val Precondition_Required = 428
        @JvmField
        val Too_Many_Requests = 429
        @JvmField
        val Unassigned_430 = 430
        @JvmField
        val Request_Header_Fields_Too_Large = 431
        @JvmField
        val Unavailable_For_Legal_Reasons = 451

        @JvmField
        val Internal_Server_Error = 500
        @JvmField
        val Not_Implemented = 501
        @JvmField
        val Bad_Gateway = 502
        @JvmField
        val Service_Unavailable = 503
        @JvmField
        val Gateway_Timeout = 504
        @JvmField
        val HTTP_Version_Not_Supported = 505
        @JvmField
        val Variant_Also_Negotiates = 506
        @JvmField
        val Insufficient_Storage = 507
        @JvmField
        val Loop_Detected = 508
        @JvmField
        val Unassigned_509 = 509
        @JvmField
        val Not_Extended = 510
        @JvmField
        val Network_Authentication_Required = 511

        @JvmStatic
        fun string(statusCode: Int): String {
            when (statusCode) {
                Continue -> return "Continue"
                Switching_Protocols -> return "Switching_Protocols"
                Processing -> return "Processing"
                Early_Hints -> return "Early_Hints"
                OK -> return "OK"
                Created -> return "Created"
                Accepted -> return "Accepted"
                Non_Authoritative_Information -> return "Non_Authoritative_Information"
                No_Content -> return "No_Content"
                Reset_Content -> return "Reset_Content"
                Partial_Content -> return "Partial_Content"
                Multi_Status -> return "Multi_Status"
                Already_Reported -> return "Already_Reported"
                IM_Used -> return "IM_Used"
                Multiple_Choices -> return "Multiple_Choices"
                Moved_Permanently -> return "Moved_Permanently"
                Found -> return "Found"
                See_Other -> return "See_Other"
                Not_Modified -> return "Not_Modified"
                Use_Proxy -> return "Use_Proxy"
                Unused -> return "Unused"
                Temporary_Redirect -> return "Temporary_Redirect"
                Permanent_Redirect -> return "Permanent_Redirect"
                Bad_Request -> return "Bad_Request"
                Unauthorized -> return "Unauthorized"
                Payment_Required -> return "Payment_Required"
                Forbidden -> return "Forbidden"
                Not_Found -> return "Not_Found"
                Method_Not_Allowed -> return "Method_Not_Allowed"
                Not_Acceptable -> return "Not_Acceptable"
                Proxy_Authentication_Required -> return "Proxy_Authentication_Required"
                Request_Timeout -> return "Request_Timeout"
                Conflict -> return "Conflict"
                Gone -> return "Gone"
                Length_Required -> return "Length_Required"
                Precondition_Failed -> return "Precondition_Failed"
                Payload_Too_Large -> return "Payload_Too_Large"
                URI_Too_Long -> return "URI_Too_Long"
                Unsupported_Media_Type -> return "Unsupported_Media_Type"
                Range_Not_Satisfiable -> return "Range_Not_Satisfiable"
                Expectation_Failed -> return "Expectation_Failed"
                Misdirected_Request -> return "Misdirected_Request"
                Unprocessable_Entity -> return "Unprocessable_Entity"
                Locked -> return "Locked"
                Failed_Dependency -> return "Failed_Dependency"
                Unassigned_425 -> return "Unassigned_425"
                Upgrade_Required -> return "Upgrade_Required"
                Unassigned_427 -> return "Unassigned_427"
                Precondition_Required -> return "Precondition_Required"
                Too_Many_Requests -> return "Too_Many_Requests"
                Unassigned_430 -> return "Unassigned_430"
                Request_Header_Fields_Too_Large -> return "Request_Header_Fields_Too_Large"
                Unavailable_For_Legal_Reasons -> return "Unavailable_For_Legal_Reasons"
                Internal_Server_Error -> return "Internal_Server_Error"
                Not_Implemented -> return "Not_Implemented"
                Bad_Gateway -> return "Bad_Gateway"
                Service_Unavailable -> return "Service_Unavailable"
                Gateway_Timeout -> return "Gateway_Timeout"
                HTTP_Version_Not_Supported -> return "HTTP_Version_Not_Supported"
                Variant_Also_Negotiates -> return "Variant_Also_Negotiates"
                Insufficient_Storage -> return "Insufficient_Storage"
                Loop_Detected -> return "Loop_Detected"
                Unassigned_509 -> return "Unassigned_509"
                Not_Extended -> return "Not_Extended"
                Network_Authentication_Required -> return "Network Authentication Required"
                else -> throw UnsupportedOperationException()
            }
        }
    }
}
```